html {
	font-family: "Courier New", Courier, monospace;
	background: url("../images/background.jpeg");
	background-attachment: fixed;
	background-size: cover;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.TodaysForecast {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.8);
	color: white;

	width: 90vw;
	height: 50vh;
	padding: 0 10px 0 10px;

	border-radius: 20px;
}

.TodaysForecast h3,
.TodaysForecast h2 {
	margin: 10px 0 10px 0;
}

.TodaysForecast h1 {
	margin: 0 0 0 0;
}

.MainForecast {
	box-sizing: border-box;

	overflow: scroll;
	text-align: center;
	padding: 10px;

	height: 100%;

	display: flex;
	flex-direction: column;
}

.ExtendedInfo {
	box-sizing: border-box;
	overflow: scroll;
	text-align: center;
	padding: 10px;

	height: 100%;

	display: flex;
	flex-direction: column;
}

/* Search Engine Styling */
.searchEngine {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);

	overflow: hidden;
	padding: 5px;
	border-radius: 20px;
}

/* Seven Day Forecast Styling */
.SevenDayForecast {
	background-color: rgba(0, 0, 0, 0.8);

	border-radius: 20px;
	padding: 0 10px 0 10px;

	height: 40vh;
	width: 90vw;
}
