html {
	font-family: "Courier New", Courier, monospace;
	background: url("../images/background.jpeg");
	background-attachment: fixed;
	background-size: cover;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

/* Parent */
.TodaysForecast {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;

	width: 90vw;
	max-width: 860px;
	height: 50vh;
	max-height: 450px;

	padding: 0 10px 0 10px;

	border-radius: 20px;
	overflow-x: hidden;
}

.websiteTitle {
	width: 100%;
	text-align: center;
}

.websiteTitle h1 {
	margin: 5px 0 5px 0;
}

/* Holds forecast left and right */
.mainForecastContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainForecastContainer h3,
.mainForecastContainer h2 {
	margin: 10px 0 10px 0;
}

.mainForecastContainer h1 {
	margin: 0 0 0 0;
}

/* Left side giving the main info of today's weather */
.MainForecast {
	box-sizing: border-box;

	overflow: hidden;
	text-align: center;
	padding: 10px;

	display: flex;
	flex-direction: column;
}

/* Right side giving extra info */
.ExtendedInfo {
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	padding: 10px;

	display: flex;
	flex-direction: column;
}

/* Search Engine Styling */
.searchEngine {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Seven Day Forecast Styling */
/* PARENT */
.FiveDayForecasts {
	background-color: rgba(0, 0, 0, 0.8);

	border-radius: 20px;
	padding: 0 10px 0 10px;

	height: 40vh;
	max-height: 300px;
	width: 90vw;
	max-width: 860px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.dayCard {
	flex: 1;

	text-align: center;

	min-height: 250px;
	max-width: 150px;

	border-radius: 20px;
	background-color: white;

	display: flex;
	flex-direction: column;
}

.dayCard p {
	margin: 0;
}

.dayProperty {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 1;
}
